@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse-once {
  0% {
    opacity: 1;
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(107, 114, 128, 0.4);
  }
  50% {
    opacity: 1;
    transform: scale(1.01);
    box-shadow: 0 0 0 8px rgba(107, 114, 128, 0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(107, 114, 128, 0);
  }
}

.animate-pulse-once {
  animation: pulse-once 2s ease-in-out;
}
